<div>
  <div class="mt-20 p-8 lg:w-[1150px] border-style">
    <p>
      Hola, soy Alberto Cánovas, Desarrollador FullStack y Artista 3D. Empece en
      el mundo de la programación para seguir aumentando mis conocimientos en el
      ámbito de la informática y como una manera de poder unir mis dos pasiones.
    </p>
    <p class="mt-4">
      A lo largo de mi carrera, he colaborado con mis compañeros para realizar
      webs dinámicas, responsivas, intuitivas y con un diseño profesional.
    </p>
    <p class="mt-4">
      Exploro constantemente nuevas maneras de desarrollarme profesional y
      personalmente mejorando mis habilidades y adaptandome a las cambios de la
      tecnología.
    </p>
  </div>
  <div class="mt-10 flex justify-center">
    <a
      class="font-bold rounded-full btn-curriculum px-6 py-2"
      href="https://drive.google.com/file/d/1N2c2OlQ80EUJbfj1i3Hu5INrhbK-saMl/view?usp=drive_link"
      target="_blank"
      rel="noopener noreferrer"
    >
      Descargar CV
    </a>
  </div>
</div>
