<div class="relative rounded-2xl ">
  <div class="grid grid-cols-2 gap-5 gap-y-6 text-xs">
    <div class="flex flex-col items-center gap-2 border-style">
      <h3 class="text-2xl font-semibold mb-2 text-blue-400">Peblobs</h3>
      <div class="flex flex-col lg:flex-row justify-center items-center px-3">
        <iframe
          class="max-w-max max-h-max"
          src="https://www.youtube.com/embed/wHK4kDyTuA0"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <p class="pt-6">
        Desarrollo de una videojuego basado en el cuidado de nuestra mascota virtual. Realizado en menos de tres meses combinando programación y 3D.
      </p>
      <div class="h-full flex flex-col justify-between px-5">
        <div>
          <ul class="flex gap-1 flex-wrap text-sm mt-4">
            <li class="flex flex-1 gap-1 items-center justify-center py-1 px-2 text-xs bg-gray-900 text-white font-medium rounded-full border"> C#</li>
            <li class="flex flex-1 gap-1 items-center justify-center py-1 px-2 text-xs bg-gray-900 text-white font-medium rounded-full border"> Unity</li>
            <li class="flex flex-1 gap-1 items-center justify-center py-1 px-2 text-xs bg-gray-900 text-white font-medium rounded-full border"> 3Dmax</li>
            <li class="flex flex-1 gap-1 items-center justify-center py-1 px-2 text-xs bg-gray-900 text-white font-medium rounded-full border"> Rizomuv</li>
            <li class="flex flex-1 gap-1 items-center justify-center py-1 px-2 text-xs bg-gray-900 text-white font-medium rounded-full border"> Substance Painter</li>
           
          </ul>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row gap-3 items-center justify-center pb-0 pt-6 w-full">
        <a
          target="_blank"
          href="https://ceri10.itch.io/peblobs"
          class="button-project flex flex-1 gap-1 items-center justify-center py-2.5 px-5 text-sm text-white font-medium rounded-md text-dark-800 dark:text-dark-200 border-dark-300 dark:border-dark-700 border bg-gradient-to-r from-slate-800 to-slate-900  dark:from-slate-800 dark:to-slate-950 hover:scale-105 transition-transform"
          >Web</a
        >
        <a
          target="_blank"
          href="https://github.com/Ceri-10/PeblobsRepository"
          class="button-project flex flex-1 gap-1 items-center justify-center py-2.5 px-5 text-sm text-white font-medium rounded-md text-dark-800 dark:text-dark-200 border-dark-300 dark:border-dark-700 border bg-gradient-to-r from-slate-800 to-slate-900  dark:from-slate-800 dark:to-slate-950 hover:scale-105 transition-transform"
          >Github</a
        >
      </div>
    </div>




    <div class="flex flex-col items-center gap-2 border-style">
      <h3 class="text-2xl font-semibold mb-2 text-blue-400">DataPortal</h3>
      <div class="flex flex-col lg:flex-row justify-center items-center px-3">
        <iframe
          class="max-w-max max-h-max"
          src="https://www.youtube.com/embed/nJTF88YJ93A"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <p class="pt-6">
        Desarrollo de una web dinámica completa implementando funciones
        personalizables como estilos visuales , menús personalizables, iframes, gestión de usuarios, etc.
      </p>
      <div class="h-full flex flex-col justify-between px-5">
        <div>
          <ul class="flex gap-1 flex-wrap text-sm mt-4">
            <li class="flex flex-1 gap-1 items-center justify-center py-1 px-2 text-xs bg-gray-900 text-white font-medium rounded-full border"> Html</li>
            <li class="flex flex-1 gap-1 items-center justify-center py-1 px-2 text-xs bg-gray-900 text-white font-medium rounded-full border"> Css</li>
            <li class="flex flex-1 gap-1 items-center justify-center py-1 px-2 text-xs bg-gray-900 text-white font-medium rounded-full border"> JavaScript</li>
            <li class="flex flex-1 gap-1 items-center justify-center py-1 px-2 text-xs bg-gray-900 text-white font-medium rounded-full border"> React</li>
            <li class="flex flex-1 gap-1 items-center justify-center py-1 px-2 text-xs bg-gray-900 text-white font-medium rounded-full border"> Node</li>
            <li class="flex flex-1 gap-1 items-center justify-center py-1 px-2 text-xs bg-gray-900 text-white font-medium rounded-full border"> PostgreSQL</li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col sm:flex-row gap-3 items-center justify-center pb-0 pt-6 w-full">
        <a
          target="_blank"
          href="https://biuwer.com/"
          class="button-project flex flex-1 gap-1 items-center justify-center py-2.5 px-5 text-sm text-white font-medium rounded-md  text-dark-800 dark:text-dark-200 border-dark-300 dark:border-dark-700 border bg-gradient-to-r from-slate-800 to-slate-900  dark:from-slate-800 dark:to-slate-950 hover:scale-105 transition-transform"

          >Web</a
        >
        <a
          target="_blank"
          href="#"
          class="flex flex-1 gap-1 items-center justify-center py-2.5 px-5 text-sm text-white font-medium rounded-md  text-dark-800 dark:text-dark-200 border-dark-300 dark:border-dark-700 border bg-gradient-to-r from-slate-800 to-slate-900  dark:from-slate-800 dark:to-slate-950 hover:scale-105 transition-transform disabled-button"
          >Github</a
        >
      </div>
    </div>
  </div>


  
</div>
