---
import HTML from "../icons/Html.astro";
import JavaScript from "../icons/Javascript.astro";
import TypeScript from "../icons/Typescript.astro";
import React from "../icons/React.astro";
import Tailwind from "../icons/Tailwind.astro";
import Node from "../icons/Node.astro";
import Mysql from "../icons/Mysql.astro";
import Git from "../icons/Git.astro";
import GitHub2 from "../icons/GitHub2.astro";
import NPM from "../icons/Npm.astro";
import VSCode from "../icons/VisualStudioCode.astro";
import VS from "../icons/VisualStudio.astro";
import Docker from "../icons/Docker.astro";
import Java from "../icons/Java.astro";
import CSS from "../icons/Css.astro";
import Mongo from "../icons/Mongo.astro";
import CSharp from "../icons/CSharp.astro";
import Android from "../icons/Android.astro";
import Unity from "../icons/Unity.astro";
---

<section>
  <p>
    Durante mi recorrido como desarrollador y amante de la tecnología, he
    desarrollado habilidades en una gran variedad de tecnologías.
  </p>
  <h3 class="text-lg font-semibold mt-2 text-center">Programación</h3>
  <div
    class="grid lg:grid-cols-2 lg:grid-flow-rows-2 gap-6 lg:place-content-center"
  >
    <div class="relative rounded-2xl p-6 ">
      <h3 class="text-center pt-3 text-xl lg:text-4xl font-bold bg-gradient-to-t from-[#00a4c9] to-[#546eff] dark:from-[#c9fffe] dark:to-[#546eff] bg-clip-text  text-transparent">Frontend</h3>
      <div class="grid grid-cols-3 gap-1 pt-6 gap-y-6 text-xs">
        <div class="flex flex-col items-center gap-2">
          <JavaScript class="size-9" />
          <p>JavaScript</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <TypeScript class="size-9" />
          <p>TypeScript</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <HTML class="size-9" />
          <p>HTML</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <CSS class="size-9" />
          <p>CSS</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <React class="size-9" />
          <p>React</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <Tailwind class="size-9" />
          <p>Tailwind</p>
        </div>
      </div>
    </div>
    <div class="relative rounded-2xl p-6">
      <h3 class="text-center pt-3 text-xl lg:text-4xl font-bold bg-gradient-to-t from-[#00a4c9] to-[#546eff] dark:from-[#c9fffe] dark:to-[#546eff] bg-clip-text  text-transparent">Backend</h3>
      <div class="grid grid-cols-3 gap-1 pt-6 gap-y-6 text-xs">
        <div class="flex flex-col items-center gap-2">
          <Node class="size-9" />
          <p>Node</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <Mysql class="size-9" />
          <p>MySQL</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <Mongo class="size-9" />
          <p>MySQL</p>
        </div>
      </div>
    </div>
    <div class="relative rounded-2xl p-6">
      <h3 class="text-center pt-3 text-xl lg:text-4xl font-bold bg-gradient-to-t from-[#00a4c9] to-[#546eff] dark:from-[#c9fffe] dark:to-[#546eff] bg-clip-text  text-transparent">
        Herramientas
      </h3>
      <div class="grid grid-cols-3 gap-1 pt-6 gap-y-6 text-xs">
        <div class="flex flex-col items-center gap-2">
          <Git class="size-9" />
          <p>Git</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <GitHub2 class="size-9" />
          <p>Github</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <NPM class="size-9" />
          <p>Npm</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <VSCode class="size-9" />
          <p>VSCode</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <VS class="size-9" />
          <p>VS</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <Docker class="size-9" />
          <p>Docker</p>
        </div>
      </div>
    </div>
    <div class="relative rounded-2xl p-6">
      <h3 class="text-center pt-3 text-xl lg:text-4xl font-bold bg-gradient-to-t from-[#00a4c9] to-[#546eff] dark:from-[#c9fffe] dark:to-[#546eff] bg-clip-text  text-transparent">Otros</h3>
      <div class="grid grid-cols-3 gap-1 pt-6 gap-y-6 text-xs">
        <div class="flex flex-col items-center gap-2">
          <Java class="size-9" />
          <p>Java</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <CSharp class="size-9" />
          <p>C#</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <Android class="size-9" />
          <p>AndroidStudio</p>
        </div>
        <div class="flex flex-col items-center gap-2">
          <Unity class="size-9" />
          <p>Unity</p>
        </div>
      </div>
    </div>
  </div>
  <h3 class="text-lg font-semibold mt-2 text-center pt-3">3Dssss</h3>
</section>
