---
import HTML from "../icons/Html.astro";
import JavaScript from "../icons/Javascript.astro";
import TypeScript from "../icons/Typescript.astro";
import React from "../icons/React.astro";
import Tailwind from "../icons/Tailwind.astro";
import Node from "../icons/Node.astro";
import Mysql from "../icons/Mysql.astro";
import Git from "../icons/Git.astro";
import GitHub2 from "../icons/GitHub2.astro";
import NPM from "../icons/Npm.astro";
import VSCode from "../icons/VisualStudioCode.astro";
import VS from "../icons/VisualStudio.astro";
import Docker from "../icons/Docker.astro";
import Java from "../icons/Java.astro";
import CSS from "../icons/Css.astro";
import Mongo from "../icons/Mongo.astro";
import CSharp from "../icons/CSharp.astro";
import Android from "../icons/Android.astro";
import Unity from "../icons/Unity.astro";
---

<section>
  <p>
    Durante mi recorrido como desarrollador y amante de la tecnología, he
    desarrollado habilidades en una gran variedad de tecnologías.
  </p>
  <h3 class="text-lg font-semibold mt-2 text-center">Programación</h3>
  <div
    class="grid lg:grid-cols-2 lg:grid-flow-rows-2 gap-6 lg:place-content-center"
  >
    <div class="relative rounded-2xl p-6">
      <h3 class="text-center pt-3 text-xl lg:text-4xl font-bold bg-gradient-to-t from-[#00a4c9] to-[#546eff] dark:from-[#c9fffe] dark:to-[#546eff] bg-clip-text text-transparent">Frontend</h3>
      <div class="grid grid-cols-3 gap-6 pt-6 gap-y-6 text-xs">
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(247,223,30,0.05)] rounded-3xl">
          <JavaScript class="w-6 h-10 " />
          <p>JavaScript</p>
        </div>
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(49,120,198,0.05)] rounded-3xl">
        <TypeScript class="w-6 h-10 " />
          <p>TypeScript</p>
        </div>
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(227,76,38,0.05)] rounded-3xl">
          <HTML class="w-6 h-10 " />
          <p>HTML</p>
        </div>
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(38,77,228,0.05)] rounded-3xl">
          <CSS class="w-6 h-10 " />
          <p>CSS</p>
        </div>
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(97,218,251,0.05)] rounded-3xl">
          <React class="w-6 h-10 " />
          <p>React</p>
        </div>
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(56,189,248,0.05)] rounded-3xl">
          <Tailwind class="w-6 h-10 " />
          <p>Tailwind</p>
        </div>
      </div>
    </div>
    <div class="relative rounded-2xl p-6">
      <h3 class="text-center pt-3 text-xl lg:text-4xl font-bold bg-gradient-to-t from-[#00a4c9] to-[#546eff] dark:from-[#c9fffe] dark:to-[#546eff] bg-clip-text text-transparent">Backend</h3>
      <div class="grid grid-cols-3 gap-6 pt-6 gap-y-6 text-xs">
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(87,149,94,0.05)] rounded-3xl">
          <Node class="w-6 h-10 " />
          <p>Node</p>
        </div>
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(0,117,143,0.05)] rounded-3xl">
          <Mysql class="w-6 h-10 " />
          <p>MySQL</p>
        </div>
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(3,160,105,0.05)] rounded-3xl">
          <Mongo class="w-6 h-10 " />
          <p>Mongo</p>
        </div>
      </div>
    </div>
    <div class="relative rounded-2xl p-6">
      <h3 class="text-center pt-3 text-xl lg:text-4xl font-bold bg-gradient-to-t from-[#00a4c9] to-[#546eff] dark:from-[#c9fffe] dark:to-[#546eff] bg-clip-text text-transparent">Herramientas</h3>
      <div class="grid grid-cols-3 gap-6 pt-6 gap-y-6 text-xs">
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(240,80,51,0.05)] rounded-3xl">
          <Git class="w-6 h-10 ]" />
          <p>Git</p>
        </div>
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(0,0,0,0.05)] rounded-3xl">
          <GitHub2 class="w-6 h-10 " />
          <p>Github</p>
        </div>
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(203,56,55,0.05)] rounded-3xl">
          <NPM class="w-6 h-10 " />
          <p>Npm</p>
        </div>
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(33,150,243,0.05)] rounded-3xl">
          <VSCode class="w-6 h-10 " />
          <p>VSCode</p>
        </div>
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(86,62,154,0.1)] rounded-3xl">
          <VS class="w-6 h-10" />
          <p>VS</p>
        </div>
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(0,122,191,0.05)] rounded-3xl">
          <Docker class="w-6 h-10 " />
          <p>Docker</p>
        </div>
      </div>
    </div>
    <div class="relative rounded-2xl p-6">
      <h3 class="text-center pt-3 text-xl lg:text-4xl font-bold bg-gradient-to-t from-[#00a4c9] to-[#546eff] dark:from-[#c9fffe] dark:to-[#546eff] bg-clip-text text-transparent">Otros</h3>
      <div class="grid grid-cols-3 gap-6 pt-6 gap-y-6 text-xs">
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(255,100,100,0.05)] rounded-3xl">
          <Java class="w-6 h-10 " />
          <p>Java</p>
        </div>
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(234,79,255,0.05)] rounded-3xl">
          <CSharp class="w-6 h-10 " />
          <p>C#</p>
        </div>
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgba(81,255,90,0.05)] rounded-3xl">
          <Android class="w-6 h-10" />
          <p>AndroidStudio</p>
        </div>
        <div class="flex flex-col items-center gap-2 p-2 bg-[rgb(255,255,255,0.05)] rounded-3xl">
          <Unity class="w-6 h-10" />
          <p>Unity</p>
        </div>
      </div>
    </div>
  </div>
</section>
